<div class="container-fluid">
	<header class="row">
		<div class="left">
			{{#is @root.router.pattern "index"}}
			<img src="images/icon.png">
			{{else}}
			<button class="btn btn-primary btn-sm" on-click="app.back()">&lt;</button>
			{{/is}}
		</div>

		<div class="right btn-group">
			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
				<img src="images/flags/{{@root.lang}}.png">
			</button>
			<div class="dropdown-menu dropdown-menu-right">
				<button class="dropdown-item" type="button" on-click="app.set('lang', 'en-us')">
					<img src="images/flags/en-us.png"> U.S. English
				</button>
				<button class="dropdown-item" type="button" on-click="app.set('lang', 'nl-nl')">
					<img src="images/flags/nl-nl.png"> Nederlands
				</button>
			</div>
		</div>

		{{title}}
	</header>

	<div class="screen" view-id="{{title}}">
		{{partial "@partial-block"}}
	</div>
</div>
