{{var date=(toNumber router.params.date)}}
{{var hasTimeLeft=(call "minute.hasTimeLeft" @date)}}

{{#partial "_layout"
	title=(formatDate "dd-MM-yyyy hh:mm" @date)
	minute=minute
}}

{{#if @hasTimeLeft}}
<div {{widgets (widget "progress" from=@date to=(inc @date 60000))}}>
	<div class="col-xs-10" style="padding: 0;">
		<progress class="progress progress-striped progress-animated"></progress>
	</div>
	<div class="col-xs-2 text-xs-right" style="line-height: 1; padding: 0;">
		<em><small class="progress-label">Done</small></em>
	</div>
</div>
{{/if}}

<!-- TODO: Figure out a way to get input focussing on submit from Add button working in iOS -->
<form class="form-inline"
	{{#on "submit"}}
		event.preventDefault();
		minute.add({ date: {{@date}}, name: node[0].value });
		node.reset();
	{{/on}}
>
	<div class="container-fluid" style="padding-left: 0">
		<div class="form-group row">
			<div class="col-xs-9">
				<input
					class="form-control"
					type="text"
					placeholder="Name a quality"
					{{#if @hasTimeLeft}}autofocus{{/if}}
				>
			</div>
			<button class="btn btn-primary col-xs-3" type="submit">Add</button>
		</div>
	</div>
</form>

<p>
	{{#filter minute.list "date" @date}}
		{{#if @first}}<div class="list-group">{{/if}}
			<input
				view-id="{{id}}"
				class="list-group-item form-control"
				type="text"
				value="{{name}}"
				on-input="minute.change({{id}}, node.value)"
				on-change="node.blur()"
			>
		{{#if @last}}</div>{{/if}}
		{{else}}
		<em>
			Name as many of your positive qualities as you can within one minute!
		</em>
	{{/filter}}
</p>

{{/partial}}
